@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/bootstrap.scss"

.jumbotron > h2
  margin-top: 0

$cardHeight: 300px
.card-container
  height: $cardHeight
  padding: 10px

.card-link
  width: 100%
  height: 100%
  display: block
  overflow: hidden
  background-size: cover
  background-position: center
  cursor: pointer
  color: rgb(51, 51, 51)
  &:hover
    text-decoration: none

.card
  z-index: 1
  position: relative
  padding: 10px 20px
  transition: all 0.3s
  .card-link:hover &
    opacity: 0
    transform: translateY($cardHeight)

.screen
  top: 0
  left: 0
  position: absolute
  width: 100%
  height: 100%
  transition: all 0.3s ease-in-out
  background-color: rgba(255, 255, 255, 0.8)
  .card-link:hover &
    background-color: rgba(255, 255, 255, 0)
